<h1>
    <%= @genre.name %> - <%= pluralize(@genre.lists.count, "lists") %>
</h1>

<ol>
    <% @genre.lists.each do |list| %>
        <li><%= link_to list.title, list_path(list) %></li>
    <% end %>
</ol>