<%= a_reader_or_all_readers_reading_list %>

<ul>
    <% @lists.each do |list| %>
    <li>List Name: <%= link_to list.title, list_path(list) %> Description: <%= list.description %></li>
    <% end %>
</ul>