<h1><%= @list.title %></h1>

<div><%= @list.description %></div>

<p>
    <%= link_to "See books belongs to this list only", list_books_path(@list) %>
</p>


<p>
    <%= link_to "Create a new book for this list", new_list_book_path(@list) %>
</p>



