<h3>Books belong to this list</h3>

    <% @list.books.each do |book| %>
        <ul>
            <%= link_to book.title, book_path(book) %>
            <li><%= book.title %></li>
            <li><%= book.author %></li>
            <li><%= book.note %></li>
        </ul>
    <% end %>
